table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  vertical-align: middle;

}

tr:nth-child(even) {
  background-color: #dddddd;
}
h1 {text-align: center;}

input:checked {
  height: 30px;
  width: 30px;
}

body{
  background-color:#e6eeff
}

div.a{
  float: left;
  padding: 25px;
  margin-top: 20px;
  text-align: center;
  background-color: #e6eeff
}
div.b{
  margin-right: 25px;
  margin-top: 20px;
  float: right;
  padding: 25px;
  text-align: center;
  background-color: #e6eeff
}

ol.a{
  width: 800px;
  height: 1000px;
  border: 1px solid black;
  list-style-type:none;
  background-color: #ffcccc
}

span
{
  display: block;
}
